.header {
  background-color: var(--main-bg);
  color: var(--text-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  margin-right: 10px;
}

.logoText {
  color: var(--text-color);
}

.header__left h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 641px) {
  .header :nth-child(1) {
    order: 1;
  }

  .header :nth-child(2) {
    order: 3;
  }

  .header :nth-child(3) {
    order: 2;
  }
}
