.search {
  width: 300px;
  position: relative;
  margin: 0 auto;
  /* width: 100%; */
}

.input {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #555860;
}

.input {
  height: 30px;
  width: 100%;
  padding: 0 12px 0 25px;
  background: white url("https://cssdeck.com/uploads/media/items/5/5JuDgOa.png")
    8px 6px no-repeat;
  border: 1px solid #a8acbc;
  border-radius: 8px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: #5367ff;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.resultContainer {
  width: 100%;
  position: absolute;
  /* background-color: var(--main-bg); */
  border: 1px solid #5367ff;
}

.searchOptions {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #5367ff;
}

.option {
  border: none;
  height: fit-content;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  flex-grow: 1;
  border-radius: 12px;
  background-color: #00f3bb;
  margin: 0px 20px;
}

.active {
  border: 2px solid #5367ff;
}

.results {
  overflow: hidden;
  overflow-y: auto;
  max-height: 60vh;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  margin: 0;
  border: 1px solid #5367ff;
  border-radius: 0 0 3px 3px;
  background-color: var(--main-bg);
}
.show {
  display: block;
}
.results > li {
  display: block;
}

.results a {
  display: block;
  position: relative;
  margin: 0 -1px;
  padding: 6px 40px 6px 10px;
  color: var(--text-color);
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: var(--main-bg);
}

.results a span {
  font-weight: 200;
}

.results a:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -9px;
  background: url("https://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0
    no-repeat;
}

.results a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  border-color: #2380dd #2179d5 #1a60aa;
  background-color: #5367ff;
}
