.stockCard {
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  background-color: var(--main-bg);
  border-radius: 8px;
}

.stockCard:hover {
  box-shadow: 0 0 10px var(--text-color);
}

.companyInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.name > span:nth-child(2) {
  font-size: small;
  font-weight: 500;
}

.bookmark {
  margin-left: auto;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.bookmark > img {
  stroke: red;
  /* filter: invert(12%) sepia(63%) saturate(6234%) hue-rotate(246deg)
    brightness(87%) contrast(156%); */
}

.stockData {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.stockData .dataItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
}

.dataKey {
  color: var(--text-color);
  text-transform: capitalize;
}

.dataValue {
  color: var(--primary-color);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .stockCard {
    width: 90%;
  }
}
